<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1><%= htmlWebpackPlugin.options.title %></h1>
      </header>
      <div id="game">
        <div class="layers">
          <canvas class="main"></canvas>
          <canvas class="bg"></canvas>
        </div>
        <div class="panel">
          <div class="score">
            <h4 class="title">Score</h4>
            <span class="scoreText">0</span>
          </div>
          <div class="options">
            <h4 class="title">Options</h4>
            <form id="options-form">
              <label for="gizmos">
                <input type="checkbox" name="gizmos" id="gizmos" />
                Gizmos</label
              >
              <label for="wrap">
                <input type="checkbox" name="wrap" id="wrap" />
                Wrap</label
              >
            </form>
          </div>
        </div>
      </div>
      <footer>
        <small
          >&copy; <span class="yearText"></span>. Created by
          <a href="https://taus.mx" target="_blank" rel="nofollow noopener"
            >Santiago Degetau</a
          >.</small
        >
      </footer>
    </div>
  </body>
</html>
