@font-face {
  font-family: "RetroGaming";
  src: url("../fonts/RetroGaming.woff2") format("woff2"),
    url("../fonts/RetroGaming.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
