@font-face {
  font-family: "Retro Gaming";
  src: url("../fonts/RetroGaming.woff2") format("woff2"),
    url("../fonts/RetroGaming.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$primary: whitesmoke;
$secondary: black;
$accent: #fd1348;

body {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Retro Gaming", sans-serif;
  background-color: $secondary;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  line-height: 1em;
}

canvas {
  position: absolute;
  image-rendering: pixelated;
}

label {
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

input[type="checkbox" i] {
  appearance: none;
  width: 18px;
  height: 18px;
  background: $primary;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    display: none;
    background-color: $accent;
  }
  &:checked {
    &::after {
      display: block;
    }
  }
}

.container {
  width: 850px;
  display: flex;
  flex-direction: column;
}

header {
  color: $primary;
  margin: 40px 0;
  h1 {
    font-size: 45px;
    display: flex;
    width: 100%;
  }
}

#game {
  display: flex;
  width: 100%;
  box-shadow: 0px 2px 0px 10px $primary;
  .layers {
    position: relative;
  }

  .main {
    z-index: 1;
  }

  .bg {
    z-index: 0;
  }

  .panel {
    width: 250px;
    box-shadow: inset 5px 0 0 0 $primary;
    .title {
      font-size: 20px;
      width: 100%;
      text-align: left;
    }
    & > div {
      line-height: 1em;
      padding: 24px;
      color: $primary;
      font-size: 24px;
      box-shadow: 0 4px 0 0 $primary;
      display: flex;
      align-items: center;
    }
    // .score {
    //   text-align: center;
    //   justify-content: space-between;
    // }
    .options {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: left;
      form {
        margin-top: 15px;
        input {
          margin-right: 8px;
        }
        label {
          font-size: 16px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

footer {
  margin: 40px 0;
  align-items: center;
  &,
  a {
    color: $primary;
  }
  a:hover {
    color: $accent;
  }
}
